{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <h2 class="custom-heading">Login</h2>
    <form method="post" class="custom-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ email }}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <a class="btn btn-secondary mt-3" href="{{ url_for('main.main_menu') }}">Back to Main Menu</a>
{% endblock %}
