{% extends 'base.html' %}
{% block title %}
    Main Menu
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2 class="display-4">Main Menu</h2>
        <ul class="list-group">
            <li class="list-group-item"><a class="btn btn-primary btn-block" href="{{ url_for('main.admin_login') }}">Admin Login</a></li>
            <li class="list-group-item"><a class="btn btn-secondary btn-block" href="{{ url_for('main.user_login') }}">User Login</a></li>
        </ul>
    </div>
{% endblock %}
